* {
  box-sizing: border-box; }

html, body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center; }

/* material forms */
.group {
  position: relative;
  margin-bottom: 35px; }

input {
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc; }

input:focus {
  outline: none; }

label {
  font-size: 14px;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #9c9c9c; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #9c9c9c;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from {
    background: #9c9c9c; }
  to {
    width: 0;
    background: transparent; } }

.icon {
  margin-right: 5px; }

/* AUTHOR @GUSTAVOCOSTAW */
body {
  background: url("https://s3.postimg.org/wcbwroujl/tiny_jpg_bg.jpg?dl=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.login-box {
  flex-direction: column;
  height: 100%;
  align-items: center;
  background: white;
  width: 100%;
  display: flex;
  max-width: 520px;
  color: #333333; }
  .login-box h1 {
    width: 100%;
    text-align: center;
    height: 120px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .login-box form {
    flex-direction: column;
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    width: 100%; }
    .login-box form .inputs {
      padding: 40px;
      flex-direction: column;
      display: flex;
      align-items: center;
      flex: 1 1 100%; }
      .login-box form .inputs .groups {
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center; }
        .login-box form .inputs .groups .group {
          width: 100%;
          flex-direction: column;
          display: flex;
          align-items: center; }
        .login-box form .inputs .groups > .group:last-child {
          margin-bottom: 0px; }
      .login-box form .inputs p {
        margin-top: 20px;
        color: #a8b8c4;
        font-size: 14px; }
      .login-box form .inputs p a {
        color: #1480e2;
        text-decoration: none; }
    .login-box form button.submit {
      width: 100%;
      flex: 1 0 auto;
      border: none;
      height: 50px;
      color: white;
      font-weight: bold;
      background: #1480e2; }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 520px) {
  .login-box {
    margin-top: 100px;
    padding: 20px;
    height: 400px; }
    .login-box h1 {
      width: 80%;
      border-bottom: 1px solid #ccc;
      padding-bottom: 25px;
      margin-bottom: 25px;
      height: auto; }
    .login-box form .inputs {
      width: 80%;
      padding: 0px;
      padding-top: 20px; }
    .login-box form input {
      width: 100%; }
    .login-box form button.submit {
      width: 80%;
      max-width: 400px;
      cursor: pointer; } }

/* AUTHOR @GUSTAVOCOSTAW */
/* FOLLOWING MOBILE FIRST CONCEPT */
body.profile {
  background: #f4f8f9; }

.profile-box {
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  background: #f4f8f9;
  width: 100%;
  display: flex;
  max-width: 660px;
  color: #333333;
  overflow: hidden; }
  .profile-box .profile-info {
    height: 375px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    flex: 0 0 auto;
    padding: 10px; }
    .profile-box .profile-info .information-area {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 14px; }
      .profile-box .profile-info .information-area .ratting {
        color: #1480e2; }
      .profile-box .profile-info .information-area h1 {
        font-size: 20px;
        font-weight: bold; }
      .profile-box .profile-info .information-area ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%; }
        .profile-box .profile-info .information-area ul li {
          margin-bottom: 5px;
          font-size: 12px; }
      .profile-box .profile-info .information-area ul, .profile-box .profile-info .information-area li {
        margin: 0px;
        padding: 0px;
        list-style: none; }
    .profile-box .profile-info .followers {
      margin-top: 4px;
      width: 100%;
      font-size: 12px;
      justify-content: flex-start;
      display: flex; }
    .profile-box .profile-info .logout {
      width: 100%;
      justify-content: flex-end;
      display: flex; }
      .profile-box .profile-info .logout button {
        border: none;
        background: none;
        width: 80px;
        height: 30px;
        color: #1480e2;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px; }
    .profile-box .profile-info .pic {
      display: flex;
      background: url("https://s3.postimg.org/73r2y0plv/profile_image.jpg");
      height: 125px;
      width: 125px;
      background-position: center;
      background-size: cover; }
    .profile-box .profile-info .nav {
      margin-top: 15px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      background: white;
      width: calc(100% + 40px);
      height: 50px; }
      .profile-box .profile-info .nav ul, .profile-box .profile-info .nav li {
        margin: 0px;
        list-style: none;
        padding: 0px; }
      .profile-box .profile-info .nav ul {
        height: 100%;
        display: flex; }
        .profile-box .profile-info .nav ul li {
          margin-left: 20px;
          width: 75px;
          height: 100%; }
          .profile-box .profile-info .nav ul li a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-transform: uppercase;
            text-decoration: none;
            height: 100%;
            color: #47484b;
            font-size: 14px; }
          .profile-box .profile-info .nav ul li a.active {
            padding-top: 6px;
            border-bottom: 5px solid #1480e2; }
  .profile-box .profile-section {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: white;
    flex-grow: 1; }
    .profile-box .profile-section .swiper-container {
      width: 100%;
      height: 100%;
      font-size: 13px; }
      .profile-box .profile-section .swiper-container .swiper-wrapper {
        height: 100%; }
      .profile-box .profile-section .swiper-container .profile-info-list ul, .profile-box .profile-section .swiper-container .profile-info-list li {
        margin: 0px;
        padding: 0px;
        list-style: none; }
      .profile-box .profile-section .swiper-container .profile-info-list li {
        margin-top: 15px; }
      .profile-box .profile-section .swiper-container .swiper-slide {
        overflow: hidden;
        overflow-y: scroll;
        padding: 20px;
        height: 100%; }
        .profile-box .profile-section .swiper-container .swiper-slide h1, .profile-box .profile-section .swiper-container .swiper-slide h3 {
          margin: 0px;
          padding: 0px; }
        .profile-box .profile-section .swiper-container .swiper-slide h1 {
          font-size: 20px;
          color: #797d80; }
        .profile-box .profile-section .swiper-container .swiper-slide h3 {
          font-size: 13px;
          font-weight: bold; }
        .profile-box .profile-section .swiper-container .swiper-slide form {
          margin-top: 30px; }
          .profile-box .profile-section .swiper-container .swiper-slide form h1 {
            padding-bottom: 30px; }
          .profile-box .profile-section .swiper-container .swiper-slide form input {
            width: 100%; }
        .profile-box .profile-section .swiper-container .swiper-slide .settings-header {
          display: flex;
          margin-bottom: 30px; }
          .profile-box .profile-section .swiper-container .swiper-slide .settings-header h1 {
            flex: 1 1 auto; }
          .profile-box .profile-section .swiper-container .swiper-slide .settings-header div {
            display: flex;
            width: 150px; }
          .profile-box .profile-section .swiper-container .swiper-slide .settings-header button {
            border: none;
            background: none;
            width: 75px;
            height: 30px;
            padding: 0px;
            color: #1480e2;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 13px; }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 660px) {
  .profile-box {
    margin-top: 30px;
    max-width: 960px;
    overflow: visible;
    height: auto; }
    .profile-box .profile-info {
      height: 200px;
      padding: 20px;
      background: white;
      position: relative; }
      .profile-box .profile-info .followers {
        display: block;
        position: absolute;
        right: 30px;
        bottom: 15px;
        z-index: 9;
        font-size: 13px;
        width: auto; }
      .profile-box .profile-info .pic {
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 9; }
        .profile-box .profile-info .pic img {
          width: 250px; }
      .profile-box .profile-info .information-area {
        position: absolute;
        left: 170px;
        width: auto;
        display: block;
        bottom: 55px; }
        .profile-box .profile-info .information-area .reviews {
          display: none; }
      .profile-box .profile-info .nav {
        position: absolute;
        bottom: 0px;
        display: block;
        width: 100%;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
        .profile-box .profile-info .nav ul {
          margin-left: 150px; }
      .profile-box .profile-info .logout button {
        border: 1px solid #1480e2;
        border-radius: 2px; }
    .profile-box .profile-section {
      max-height: 400px;
      margin-top: 30px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
      .profile-box .profile-section .settings-header div {
        visibility: hidden; } }
